@import "tailwindcss";

/* Leaflet CSS fixes */
.leaflet-container {
  height: 100%;
  width: 100%;
}

.leaflet-popup-content-wrapper {
  border-radius: 8px;
}

.leaflet-popup-content {
  margin: 0;
  padding: 0;
}

/* Hide scrollbars */
.leaflet-popup-scrolled {
  border: none !important;
}

.leaflet-popup-scrolled::-webkit-scrollbar {
  display: none;
}

.leaflet-popup-scrolled {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Remove all map controls */
.leaflet-control-zoom {
  display: none !important;
}

.leaflet-control-attribution {
  font-size: 9px !important;
  background: rgba(255, 255, 255, 0.8) !important;
}
.leaflet-container a {
    color: #efefef !important;
}